*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-color-1: #5CE1E6 ;
    --primary-color-2: #BE4222 ;
    --whilte-color: #fff;
    --text-color: #00000;
    --background-color: #D9D9D9;
    --text-font: 'Baloo 2', cursive;
}
html {
    font-family: 'Baloo 2', cursive;

    
}
body{
    overflow-x:hidden;
    
}
.grid {
    width: 1200px;
    margin: 0 auto;
    
}

.grid_full-width {
    width:100%;
}
.grid_row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col-8{
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
}
#header{
     width: 100vw;
     height:100px ;
     overflow: hidden;
}
.container{
  
}
.header_logo{

}
.logo_link{

}
.logo_img{
   width: 90px;
   margin: 3px 0 0 50px;
}
.nav{
   line-height: 100px;
    margin-left: 80px;
}
.nav_list{
  display: flex;
 line-height: 100px;

}
.nav_list-item{
   list-style: none;
   padding: 0 30px;
}
.nav_list-item:hover .nav_list-item--link{
    color: var(--primary-color-1);
    transition: 0.2s ease-out;
}
.nav_list-item--link{
   text-decoration: none;
   font-size: 20px;
   color: var(--text-color);
   font-weight: 900;
}
.nav_list-item--icon{
     padding: 0 10px;
}
.banner_header{
    height: 600px;
    background-image: url("./image/banner-dang-ky-lai-thu.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.text{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-title{
    font-size: 40px;
    font-weight: 900;
    color: rgba(0,0,0,0.7);
}
.text-contact{
    width: 66.666667%;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.form{
   width: 66.66667%;
   margin: 100px auto;

   
}
.form_product-info{
   width: 50%;
}
.product_info-head_title{
   font-size: 30px;
   font-weight: 900;
   margin-bottom: 20px;
}
.product_info-sub_title{
   font-size: 20px;
   color: rgba(0,0,0,0.7);
}
.product_info-choose_button{
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.product-choose_btn{
    width: 100% ;
    height: 60px;
    background-color: transparent;
    border: 1px solid var(--primary-color-2);
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.product-choose_btn:focus ~ .choose_car-list{
   display: block;

}
.product_choose-btn--icon{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 20px;

}
.btn_icon-arrow_up{
   margin-bottom: -10px;
}
.btn_icon-arrow_down{

}
.choose_car-list{
  display: none;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 10px #aaaa;
  padding: 10px 0;
  border-radius: 10px;  
  position: absolute;
  z-index: 1;
}
.choose_car-title{
    padding: 0 20px;
}
.choose_car-list_item{
    list-style: none;
    padding: 10px 20px;
    transition: all 0.2s ease-out;
}
.car_list-item--link{
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s ease-out;

}
.choose_car-list_item:hover{
    background-color: var(--primary-color-1);
    transition: all 0.2s ease-in;
}
.choose_car-list_item:hover .car_list-item--link{
    color: #ffff;
    font-size: 18px;
    font-weight: 900;
    transition: all 0.2s ease-in;
}
.form_contact-info{
  width: 100%;
}
.contact_info-head_title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.contact_form{
    width: 50%;
    float: left;
    margin: 20px 0;
    
}
.contact_form-title{
    font-size: 20px;
    color: var(--text-color);
}
.contact_form-input{
    width: 95% ;
    height: 60px;
    background-color: transparent;
    border: 1px solid var(--primary-color-2);
    padding-left: 10px;
    font-size: 15px;
    outline-color: var(--primary-color-1);
    transition: all 0.2s linear;
    position: relative;
}
.input-placeholder{
   position: absolute;
   top: 0px;
   right: 0;
}
.contact-choose_button{
    position: relative;
}
.contact-choose_btn{
    width: 100% ;
    height: 60px;
    background-color: transparent;
    border: 1px solid var(--primary-color-2);
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.contact_choose-btn--icon{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    position: absolute;
    top:  20px;
    right: 20px;
}
.fa-solid{

}
.fa-caret-up{

}
.btn_icon-arrow_up{

}
.fa-caret-down{

}
.btn_icon-arrow_down{

}
/* Choose store list */
.choose-store_list{
    display: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 6px 10px #aaaa;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}
.choose_store-title{
   padding: 10px 20px;
}
.store_list-item{
   list-style: none;
   margin-top: 10px;
}

.store_location{
  font-size: 20px;
  font-weight: 900;
  padding: 0px 20px;
}
.store_location-icon{
    font-size: 18px;
    margin-right: 8px;
}
.store_address-list{

}
.address_list-item{
   list-style: none;
   padding: 5px 60px;
   transition: all 0.2s ease-out;
}
.address_list-item--link{
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.2s ease-out;
}
.address_list-item:hover{
    background-color: var(--primary-color-2);
    transition: all 0.2s ease-in;
}
.address_list-item:hover .address_list-item--link{
    color: #ffff;
    font-size: 18px;
    font-weight: 900;
    transition: all 0.2s ease-in;
}
.contact-choose_btn:focus ~ .choose-store_list {
    display: block;
}
.contact_form-note{
  width: 100%;
 
}
.contact_form-note_title{ 
    font-size: 20px;
}
.contact_form-note_box{
   width: 100%;
   height: 200px;
   border: 1px solid var(--primary-color-2);
   outline-color:var(--primary-color-1);
   position: relative;

}
.contact_form-note_input{
 width: 100%;
 height: 50px;
 padding-left: 10px;
 border: none;
 outline: none;
 position:absolute;
 top: 0px;

  
}

.send_button-btn{
 width: 100%;
 height: 50px;
 background-color: #BE4222;
 color: #ffff;
 font-family: var(--text-color) ;
 font-size: 20px;
 font-weight: 900;
 border: none;
 margin-top: 20px;
 box-shadow: inset 0px  0 0 0 #ffff;
 transition: ease-out 0.2s;
}
.send_button-btn:hover{
    box-shadow: inset 800px  0 0 0 #fff;
    color: var(--primary-color-1);
    font-size: 23px;
    border: 5px solid var(--primary-color-1);
    transition: ease-in 0.2s;
    cursor: pointer;
}
.banner_body{
    height: 300px;
    background-image: url("./image/banner_body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 100px;
 
}

#footer{
    height: 600px;
    background-image: url("./image/bg_footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
#footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

}
.footer_title{
   font-size: 70px;
   font-weight: 900;
   text-shadow: 0 0 5px #fff;
   color: var(--primary-color-1);
   padding-top: 30px;
}
.footer_content{
  margin-top: 20px;
  float: left;
}
.content_1{
    width: 33.3333%;
}
.content_2{
    width: 25%;
    margin-left: 100px;
}
.content_3{
    width: 25%;
    margin-left: 100px;
}
.content_title{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}
.content_text-list{
   
}
.content_text-list_item{
   display: flex;
   align-items: center;
   list-style: none;
   padding: 10px 0;
   
}
.fa-solid{

}
.fa-location-dot{

}
.text-list_item--icon{
    color: rgba(255,255,255,0.7);
} 

.text-list_item--link{
    font-size: 20px;
   color: rgba(255,255,255,0.7);
   text-decoration: none;
   margin-left: 10px;
}
.fa-phone{

}
.store_list-button{
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 10px 0;
   margin-top: 10px;
   transition: all 0.2s ease-out;
}
.store_list-button:hover{
   background-color: #5CE1E6;
   transition: all 0.2s ease-in;
   cursor: pointer;
}
.store_list-button:hover .store_list-button-link{
  color: #ffff;
  font-size: 19px;
  transition: all 0.2s ease-in;
}
.store_list-button-link{
   text-decoration: none;
   color: var(--text-color);
   font-weight: 900;
   font-size: 20px;
   transition: all 0.2s ease-out;
} 
.fa-envelope{

}
.social-contact{
  width: 100%;
  margin-top: 30px;
}
.social-contact_list{
   display: flex;
   justify-content: space-around;
}
.social-contact_list-item{
     list-style: none;
     transition: all 0.2s ease-out;
    
}
.social-contact_list-item:hover{
   transform: translateY(-10px);
   transition: all 0.2s ease-in;
}
.social-contact_list-item--link{
   font-size: 40px;
   color: #ffff;
}
.social-contact_list-item--link:hover{
  
}


.social-contact_list-item--icon{

}
.fa-brands{

}
.fa-facebook{

}
.fa-tiktok{

}
.fa-youtube{

}
.fa-instagram{

}
.content_title{

}
.content_text{ 
    font-size: 25px;
    color: rgba(255,255,255,0.7);
    margin-top: 50px;
}
.info_register{
  width: 100%; 
  position: relative;
}
.info_register-input{
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  outline: none;

}
.info_register-btn{
   width: 100px;
   height: 34px;
   font-size: 16px;
   font-weight: 900;
   font-family: var(--text-font);
   color: #ffff;
   background-color: black;
   position: absolute;
   right: 5px;
   top: 5px;
   cursor: pointer;
   box-shadow: inset 0 0 0 0 var(--primary-color-1);
   transition: all 0.2s ease-out;

}
.info_register-btn:hover{
    box-shadow: inset 100px 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-in;
}
.copyright{
     width: 100%;
     clear: both;
     text-align: center;
     
}
.copyright_text{
     color: rgba(255,255,255,0.7);
     font-size: 15px;
}